body {
    min-height: 1080px;
    background-color: #eaeaea;
}

header {
    border-bottom: 0.5px solid #808080;
    background-color: white;
}


#container {
    width: 1080px;
    margin: auto;
}


a.navbar-brand {
    font-size: 35px;
}

#renderbody{
    min-height:800px;
    background-color:#eaeaea;
    margin-top:0px;
}

.bottom-strip {
    background-color: #eaeaea;
    padding-top: 20px;
}

    .bottom-strip p {
        color: black;
    }


