<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

  

</head>
<body>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area=""  >Social</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon-eye-open"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="/account/signout"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </nav>
       
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
